@media only screen and (max-width: 468px) {
    .mainContent{
        font-size: 0.9em;
        width: 300px;
        position: absolute;
        left: 0px;
    }
    
    #sidebar li{
        float: left;
    
    }
    #sidebar{
        height: 150px;
        padding: 50px;
        position: fixed;
        top: -200px;
        z-index: -1;
    }
    #burgerContainer{
        display: none;
    }
    #burgerContainer2{
        display: block;
    }
    #navbar a{
        font-size: 0.9em;
    }
    
    }